body {
  background-color: lightblue;
}
/*
body {
  background-image: url("flowerpic_bg.png");
}*/
h1 {
  color: white;
  text-align:center;
  margin-left: 20px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}

 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

or
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}